@using PagedList;
@using PagedList.Mvc;
@using TechLead.Models;
@model IPagedList<TechLead.Models.Exercise>

@{
    ViewBag.Title = "Advanced";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="Content">

    <div class="TitleBox">
        <h2>Advanced</h2>
    </div>
    <div class="Box">
        <br />
        <br />
        <ul>
            @foreach (Exercise E in Model)
            {
                <li>
                    <a href="@Url.Action("Details", "Problem", new { id = E.Id }, null)" class="elements">
                        <div class="ProblemToDisplay">
                            @E.Name
                            <span class="PointsToDisplay">@E.Points</span>
                        </div>
                    </a>
                </li>
            }
        </ul>

        @Html.PagedListPager(Model, page => Url.Action("Beginnerbranch", "Beginner", new { page }))
    </div>
</div>



