
@{
    ViewBag.Title = "Secondbranch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="Content">
    <br />
    <br />
    <br />
    <br />
    <h2>Intermediate - level problems</h2>

    <div class="problem">
        <h4>Print "Hello World!"</h4>
        <div class="points">
            <h4>44</h4>
        </div>
    </div>
    <div class="problem">
        <h4>Get the sum of 2 integers</h4>
        <div class="points">
            <h4>44</h4>
        </div>
    </div>
    <div class="problem">
        <h4>Get the average of 5 numbers</h4>
        <div class="points">
            <h4>44</h4>
        </div>
    </div>
    <div class="problem">
        <h4>Print n *'s</h4>
        <div class="points">
            <h4>44</h4>
        </div>
    </div>


</div>
