@using PagedList;
@using PagedList.Mvc;
@using TechLead.Models;
@model IPagedList<TechLead.Models.Exercise>

@{
    ViewBag.Title = "Intermediate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="Content">

    <h2>Intermediate</h2>
    <br />
    <br />
    <ul>
        @foreach (Exercise E in Model)
        {
            <li>
                @Html.ActionLink(E.Name, "Details", "Problem", new { id = E.Id }, null)
            </li>
        }
    </ul>
    @Html.PagedListPager(Model, page => Url.Action("Intermediatebranch", "Intermediate", new { page }))
</div>



