@{
    ViewBag.Title = "About";
}
<div class="Content">
    <div class="Box">

        <h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>

        <p>Use this area to provide additional information.</p>

    </div>
</div>