@model TechLead.Models.RegisterViewModel
@{
    ViewBag.Title = "Home Page";
}
<!-- Jumbotron -->
<div class="jumbotron">
    <div class="text-white text-center rgba-stylish-strong">
        <!-- Content -->
        <h1>TechLead</h1>
        <h2>
            <span class="txt-type" data-wait="3000" data-words='["Try","Fail","Learn","Be a better version of yourself","gucci gang gucci gang"]'></span>
        </h2>
    </div>
</div>
<!-- Jumbotron -->

<div class="Content">

    <br />
    <br />
    <div class="row">

        <a href="@Url.Action("Beginnerbranch", "Beginner")" class="elements">
            <div class="col-md-4">
                <div class="option">
                    <h2>Beginner</h2>
                    <p>
                        Easy problems to solve for beginners. It's never too late to start learning something new!
                    </p>
                </div>
            </div>
        </a>

        <a href="@Url.Action("Intermediatebranch", "Intermediate")" class="elements">
            <div class="col-md-4">
                <div class="option">
                    <h2>Intermediate</h2>
                    <p>
                        If you already have some background in problem-solving, then this collection of problems is for you. Enjoy!
                    </p>
                </div>
            </div>
        </a>

        <a href="@Url.Action("Advancedbranch", "Advanced")" class="elements">
            <div class="col-md-4">
                <div class="option">
                    <h2>Advanced</h2>
                    <p>
                        I see we have some pro's out here. Glad to meet you on this platform! Here are some problems for you!
                    </p>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Message from server</h3>
            </div>
            <div class="modal-body">
                <h4>@ViewBag.ModalMessage</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.ModalMessage != null)
{
    <script>
        $(window).load(function () {
            $('#infoModal').modal();
        });
    </script>
}

@* Javascript for typing effect *@
<script src="../../Scripts/MyJavascript/TypeEffect.js" type="text/javascript"></script>