@{
    ViewBag.Title = "Home Page";
}

<div class="row">

    <a href="@Url.Action("FirstBranch", "Branch1")" class="elements">
        <div class="col-md-4">
            <div class="option">
                <h2>Getting started</h2>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                </p>
            </div>
        </div>
    </a>

    <a href="@Url.Action("Secondbranch", "Branch2")" class="elements">
        <div class="col-md-4">
            <div class="option">
                <h2>Get more libraries</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            </div>
        </div>
    </a>

    <a href="@Url.Action("Thirdbranch", "Branch3")" class="elements">
        <div class="col-md-4">
            <div class="option">
                <h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            </div>
        </div>
    </a>

</div>