@model TechLead.Models.RegisterViewModel
@{
    ViewBag.Title = "Home Page";
}
<!-- Jumbotron -->
<div class="jumbotron">
    <div class="text-white text-center rgba-stylish-strong">
        <!-- Content -->
        <h1>TechLead</h1>
        <h2>Learn. Code. Get better. </h2>
    </div>
</div>
<!-- Jumbotron -->

<div class="Content">

    <div class="Pre-info-Container">
        <h3>
            Some info goes here
        </h3>
    </div>
    <br />
    <br />
    <div class="row">

        <a href="@Url.Action("Beginnerbranch", "Beginner")" class="elements">
            <div class="col-md-4">
                <div class="option">
                    <h2>Beginner</h2>
                    <p>
                        Easy problems to solve for beginners. It's never too late to start learning something new!
                    </p>
                </div>
            </div>
        </a>

        <a href="@Url.Action("Intermediatebranch", "Intermediate")" class="elements">
            <div class="col-md-4">
                <div class="option">
                    <h2>Intermediate</h2>
                    <p>
                        If you already have some background in problem-solving, then this collection of problems is for you. Enjoy!
                    </p>
                </div>
            </div>
        </a>

        <a href="@Url.Action("Advancedbranch", "Advanced")" class="elements">
            <div class="col-md-4">
                <div class="option">
                    <h2>Advanced</h2>
                    <p>
                        I see we have some pro's out here. Glad to meet you on this platform! Here are some problems for you!
                    </p>
                </div>
            </div>
        </a>
    </div>
</div>