@model List<TechLead.Models.DisplayJoinRequestViewModel>
@{
    ViewBag.Title = "SeeJoinRequests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="Content">
    <div class="TitleBox">
        <h2>Join requests</h2>
    </div>
    <div class="Box">
        @if (Model.Count() == 0)
        {
            <div style="text-align:center; margin-bottom: 50px">
                <span class="caption">There are no pending join requests</span>
                <br />
                @Html.ActionLink("Go back to class", "Details", "Class", new { id = (int)ViewBag.ClassID }, null)
            </div>
        }
        else
        {
            for (int i = 0; i < Model.Count; i++)
            {
                <div class="ToDisplay">
                    <div class="row">
                        <div class="col-md-8">
                            @Model[i].AuthorName
                        </div>
                        <div class="col-md-4">
                            <span class="pull-right">@Html.ActionLink("Accept", "AcceptJoinRequest", new { JoinRequestId = Model[i].Id })    @Html.ActionLink("Decline", "DeclineJoinRequest", new { JoinRequestId = Model[i].Id })</span>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
