@model List<TechLead.Models.SeeMembersViewModel>
@{
    ViewBag.Title = "SeeMembers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="Content">
    <div class="TitleBox">
        <h2>Class Members</h2>
    </div>
    <div class="Box">
        @if (Model.Count() == 0)
        {
            <div style="text-align:center; margin-bottom: 50px">
                <span class="caption">The class has no members</span>
                <br />
                @Html.ActionLink("Go back to class", "Details", "Class", new { id = (int)ViewBag.ClassID }, null)
            </div>
        }
        else
        {
            foreach (var s in Model)
            {
                <a href="@Url.Action("ViewProfile", "Profile", new { userID = s.userID })">
                    <div class="ToDisplay">
                        <div class="row">
                            <div class="col-md-8">
                                @s.Name
                            </div>
                            <div class="col-md-3">
                                <span class="pull-right">@Html.ActionLink("Exclude", "ExcludeMember", "Class", new { classId = s.ClassId, memberId = s.userID }, null)</span>
                            </div>
                        </div>
                    </div>
                </a>
            }
        }
        </div>
</div>

