@model List<TechLead.Models.SeeMembersViewModel>
@{
    ViewBag.Title = "SeeMembers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="Content">
    <div class="TitleBox">
        <h2>Class Members</h2>
    </div>
    <div class="Box">

        @foreach (var s in Model)
        {
            <a href="@Url.Action("ViewProfile", "Profile", new { userID = s.userID })">
                <div class="ToDisplay">
                    @s.Name
                </div>
            </a>
        }
    </div>
</div>

