@model List<int>
@{
    ViewBag.Title = "Compiling";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="Content">

    <h2>Compilling</h2>
    <div class="TitleBox">
    @foreach(int i in Model)
    {
        <div>
            @i
        </div>
    }
    </div>
    <h2>Test cases</h2>
</div>


