
@model dynamic
@{
    ViewBag.Title = "Compiling";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="Content">

    <h2>Compilling</h2>
    @Model.Ex.Name;
    <div class="TitleBox">
    </div>
</div>


