@model List<int>
@{
    ViewBag.Title = "Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
    double ScoredPoints = 0;
    int TestNumber = 1;
}


<div class="Content">

    <h2>Compilling</h2>

    <div class="TitleBox">

    </div>
    <div class="Box">
        <h2>Test cases</h2>
        <table style="width:100%">
            <tr>
                <th>Test</th>
                <th>Points gained</th>
            </tr>
            @foreach (int i in Model)
            {
                <tr>
                    <td>Test @TestNumber</td>
                    <td>@i</td>
                    @{ 
                        TestNumber++;
                        ScoredPoints += @i;
                    }
                    
                </tr>
             }
            <tr>
                <td>Total</td>
                <td>@ScoredPoints</td>
            </tr>
        </table>
    </div>
</div>


