@model List<int>
@{
    ViewBag.Title = "Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
    double ScoredPoints = 0;
    int TestNumber = 1;
}


<div class="Content">

    <div class="TitleBox">
        <h2>Testing your solution</h2>
    </div>

    <div class="Box">
        
        <h2>Results</h2>
        <br /><br />

        <table>
            <tr>
                <th>Test</th>
                <th>Points</th>
            </tr>
            @foreach (int i in Model)
            {
                <tr>
                    <td>Test @TestNumber</td>
                    <td>@i</td>
                    @{
                        TestNumber++;
                        ScoredPoints += @i;
                    }

                </tr>
            }
            <tr>
                <td><strong>Total</strong></td>
                <td>@ScoredPoints</td>
            </tr>
        </table>

    </div>
</div>


