@model TechLead.Models.ErrorViewModel

@{
    ViewBag.Title = "Error";
}

@*
    The model will be a list with 2 cells. The first one is the title of the error. The 2nd one - details.
    like List[0] = ERROR 404
    List[1] = Invalid link adress.
*@

<div class="Content" style="height:80%">
    <div class="ErrorBox">
        <div class="ErrorImage">
            @if (Model.ImagePath != null)
            {
                <img src="@Model.ImagePath" />
            }
        </div>
        <h1>@Model.Title @if (Model.Code != 0)
        {
            <span> @Model.Code</span>
        }
        </h1>
        <p>@Model.Description</p>
        <br /><br />

        @if (Request.UrlReferrer != null)
        {
            <a class="bottomNav" onclick="history.go(-1); return false;" href="#">Back</a><br />
        }

    </div>
</div>


