@{
    ViewBag.Title = "Login Failure";
}
<div class="Content">
    <div class="RegistrationLoginForm">
        <h2>@ViewBag.Title.</h2>
        <hr />
        <h4 class="text-danger">Unsuccessful login with service.</h4>
    </div>
</div>

