@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="Content">
    <div class="RegistrationLoginForm">

        <h3>@ViewBag.Title</h3>
        <hr />
        <br />

        <div>
            <p>
                Please check your email to reset your password.
            </p>
        </div>
    </div>
</div>

