@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="Content">
    <div class="RegistrationLoginForm">

        <h3>@ViewBag.Title.</h3>
        <hr />
        <br />
        <div>
            <p>
                Your password has been reset. <strong>@Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</strong>
            </p>
        </div>
    </div>
</div>
