@model IEnumerable<TechLead.Models.Exercise>
@using TechLead.Models
@{
    ViewBag.Title = "Beginner";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="Content">

    <div class="TitleBox">
        <h2>Beginner</h2>
    </div>
    <div class="Box">
        <br />
        <br />
        <ul>
            @foreach (Exercise E in Model)
            {
                <li>
                    <a href="@Url.Action("Details", "Problem", new { id = E.Id }, null)" class="elements">
                        <div class="ProblemToDisplay">
                           @E.Name
                           <span class="PointsToDisplay">@E.Points</span>
                        </div>
                    </a>
                </li>
            }
        </ul>  
    </div>
</div>


